@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Header Footer Section */
.footer {
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
    border-radius: 0 52px 0px 0px;
    box-shadow: 7px -3px 20px #00000025;
    color: var(--primarycolor);
    font-size: 25px;
    font-family: montserrat;
    flex-direction: row;
    justify-content: space-between;
}

/* Gmap Section */
iframe {
    height: 200px;
}

/* Button Section */
.button {
    @apply inline-block px-6 py-2 text-xs font-bold leading-6 text-center transition rounded-full shadow;
}
.button:hover {
    @apply shadow-lg;
}
.button:focus {
    @apply outline-none;
}
button i {
    margin-left: 5px;
}

/* Specific Button Section */
.button-primary {
    @apply bg-blue-700 text-white;
}
.button-primary:hover {
    @apply bg-blue-800;
}

.button-success {
    @apply bg-green-700 text-white;
}
.button-success:hover {
    @apply bg-green-800;
}

.button-danger {
    @apply bg-red-600 text-white;
}
.button-danger:hover {
    @apply bg-red-700;
}